# Gradle
.gradle/
build/
*/build/
gradle/
gradlew
gradlew.bat

# Android
local.properties
*.iml
.idea/
*.hprof
captures/
*.apk
*.aab

# Kotlin
.metadata/
kotlin-js-store/

# macOS
.DS_Store

# Временные файлы
*.tmp
*.temp
*.log

# Skaro (если не хотите хранить его метаданные)
.skaro/
